pandas
matplotlib
seaborn
streamlit
langgraph==0.0.38
langchain==0.1.20
langchain-core==0.1.52
langchain-groq==0.1.5
langchain-community==0.0.38
langsmith==0.1.17
scikit-learn
category_encoders
scipy>=1.10.0,<1.11.0
