streamlit==1.35.0
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
scikit-learn==1.4.2
scipy==1.10.1  # Important: version <1.11 to avoid _lazywhere error
category_encoders==2.6.3

langgraph==0.0.38
langchain==0.1.20
langchain-core==0.1.52
langchain-groq==0.1.5
langchain-community==0.0.38
langsmith==0.1.17

python-dotenv==1.0.1

